html{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(255,0,0,1) 100%);
font-family: 'Sedgwick Ave Display', cursive;
}

*{text-align: center;}

h1 {color: red;}

audio{text-align: center;}

div{
    display: flex;
    align-items: center;
    justify-content: center;
}
table{
    text-align: center;
    font-size: 40px;
}
table,td {
	border: 1px solid black;
    
}
